.ingredient {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 11px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    margin: 0px;
    padding: 7.5%;
    min-width: 150px;
    min-height: 10px;
    width: auto;
    height: auto;
    background-color: darksalmon;
    z-index: -1;
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
