.diamond {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 15px;
    font-size: 11px;
    margin: 10px 40px;
    padding: 13%;
    height: 130px;
    width: 130px;
    
}

.diamond:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    border: 1px solid black;
    z-index: -99999;
    background-color: #CECECE;
}

.diamond:after {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotateX(45deg) rotateZ(45deg);
}

.mylabeltext {
    text-align: center;
    display: flex;
    vertical-align: central;
    background-color: transparent;
    border: none;
    resize: none;
    width: 80px;
    height: 60px;
    padding: 5px;
    overflow: hidden;
    box-sizing: padding-box;
    font-size: 11px;
    z-index: 99999;
}

.mylabeltext:focus {
    outline: none !important;
    border: 1px solid transparent;
    box-shadow: 0 0 10px #719ECE;
    z-index: 99999;
}

