.sidebar-nodes {
    overflow-y: scroll;
    margin-bottom: 10px;
    max-height: 25vh;
    width: 100%;
}

.nodes {
    margin:10px;
}

.myNodes {
    text-align: left;
    padding-left:5px;
}

.edges {
    margin: 10px;
}

.myEdges {
    text-align: left;
    padding-left:5px;   
}

.sidebar-button {
    margin:10px;
    border-bottom: 1px solid black; /* black border */
    border-right: 1px solid black; /* black border */
    border-top: 1px solid black; /* black border */
    border-left: 1px solid black; /* black border */
}



