* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif, monospace;
    text-align: center;
    
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color:rgba(102, 102, 102, 0.5); */
    z-index: -5;


    background-image: url("./assets/kitchen_tools.jpg");
    background-repeat: repeat;
    background-size: 40% 40%;
    
    
}

.content-wrap {
    flex: 1;
}

/* Custom Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
/* Custom Scrollbar*/

