version: "3"

#Define Services
services:

  # Frontend Service 
  client:
    container_name: client
    build:
        context: ./client
        dockerfile: Dockerfile 
    stdin_open: true
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - "/client/app/node_modules"
      - "./client:/app"
