.Map {
    border: 3px solid black;
    min-height: 85vh;
    height: 85vh;
    background-color:whitesmoke;
}

.Sidebar {
    height: 40%;
   
}

.mytext {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    width: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid black; /* black border */
    margin-bottom: 10px; /* made gap between divs */
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-y: scroll;
}

.GroupButtons {
    border: 3px solid black;
    background-color: white; /* white background */
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px; /* made gap between divs */
}


    .GroupButtons button {
        background-color: white; /* white background */
        border: 1px solid white;
        color: black; /* White text */
        cursor: pointer; /* Pointer/hand icon */
        padding: 10px 10px 10px 10px; /* Some padding */
        font-size: 15px;
        font-weight: 400;
        
    }

    .decision {
        background: url('icons/decision.png');
    }

    .GroupButtons:after {
        content: "";
        clear: both;
        display: block;
    }

    .GroupButtons button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .GroupButtons button:hover {
        background-color:antiquewhite;
    }

.dataButtons {
    margin-bottom: 10px; /* made gap between divs */
}

.ArrowHeadButtons {
    margin-bottom: 10px; /* made gap between divs */
}





