.ingredient {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;


    vertical-align: middle;
    padding: 2%;
    min-width: 150px;
    min-height: 10px;
    width: auto;
    height: auto;
    background-color: darksalmon;
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ingredient::before{
    z-index: -1;  
}

.mylabeltext_ingredient {
    text-align: center;
    vertical-align: central;
    background-color: transparent;
    border: none;
    resize: none;
    width: 120px;
    height: 30px;
    overflow: hidden;
    box-sizing: padding-box;
    z-index: 2;
    padding:5%;

    font-family: sans-serif;
    line-height: 11px;
    font-size: 11px;
}

.mylabeltext_ingredient:focus {
    outline: none !important;
    border: 1px solid transparent;
    box-shadow: 0 0 2px #719ECE;
    z-index: 2;
}