.delay {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 10px 40px;
    padding: 13%;
    width: 150px;
    height: 60px;
    background-color:gold;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
}

.delay::before{
    z-index: -1;  
}

.mylabeltext_delay {
    text-align: center;
    vertical-align: central;
    background-color: transparent;
    border: none;
    resize: none;
    width: 120px;
    height: 50px;
    padding: 12%;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden;
    box-sizing: padding-box;
    z-index: 2;

    font-family: sans-serif;
    line-height: 11px;
    font-size: 11px;
}

.mylabeltext_delay:focus {
    outline: none !important;
    border: 1px solid transparent;
    box-shadow: 0 0 2px #719ECE;
    z-index: 2;
}