.diamond {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 40px;
    padding: 13%;
    height: 130px;
    width: 130px;  
    
}

.diamond::before {
    
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    border: 1px solid black;
    z-index: -1;
    background-color: #CECECE;
}

.diamond:after {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotateX(45deg) rotateZ(45deg);
}

.mylabeltext_diamond {
    position: relative;
    text-align: center;
    vertical-align: central;
    background-color: transparent;
    border: none;
    resize: none;
    width: 100px;
    height: 50px;
    padding: 12%;
    margin-top: 5px;
    overflow: hidden;
    box-sizing: padding-box;
    z-index: 2;

    font-family: sans-serif;
    line-height: 11px;
    font-size: 11px;
}

.mylabeltext_diamond:focus {
    outline: none !important;
    border: 1px solid transparent;
    box-shadow: 0 0 2px #719ECE;
    z-index: 2;
}

