.ovalInput {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 11px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    vertical-align: middle;
    margin: 10px 40px;
    padding: 13%;
    width: 150px;
    height: 60px;
    background-color: #ABB3EE;
    border-radius: 100px / 50px;
    z-index: -1;
    border: 1px solid green;
}
